body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    width: 100px;
    height: auto;
    margin: 10px 0;
    border-radius: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
    display: flex;
    margin-left: 50px;
    margin-top: 90px;
    font-size: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

main {
    padding: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
